<div class="flex flex-wrap justify-center p-8 bg-gray-100">
  <div class="w-full sm:w-3/4 md:w-1/2 lg:w-2/5 mb-4">
    <h1 class="text-3xl text-center font-thin mb-4">Sélectionnez un modèle de voiture</h1>
    <div class="flex justify-center">
      <div class="w-1/2 pr-2 flex flex-col items-center">
        <input type="radio" id="modele1" name="modele" class="hidden">
        <label for="modele1" class="block mb-2 border rounded cursor-pointer shadow-md hover:shadow-lg">
          <img src="../../../../../../assets/images/configurateur/modele/selection/legende.png" alt="Voiture 1"
            class="w-full max-h-96 object-contain">
        </label>
        <button
          class="bg-gray-800 hover:bg-gray-900 text-white font-semibold py-2 px-4 rounded mt-2"  onclick="selectCar(1)">Sélectionner</button>
      </div>
      <div class="w-1/2 pl-2 flex flex-col items-center">
        <input type="radio" id="modele2" name="modele" class="hidden">
        <label for="modele2" class="block mb-2 border rounded cursor-pointer shadow-md hover:shadow-lg">
          <img src="../../../../../../assets/images/configurateur/modele/selection/pure.png" alt="Voiture 2"
            class="w-full max-h-96 object-contain">
        </label>
        <button class="bg-gray-800 hover:bg-gray-900 text-white font-semibold py-2 px-4 rounded mt-2" onclick="selectCar(2)">Sélectionner</button>
      </div>
    </div>
  </div>
</div>
