<div class="container mx-auto px-4 py-8 dark:bg-gray-900">
  <h1 class="text-3xl text-center font-semibold text-white mb-4">Sélectionnez un modèle de voiture</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    <div *ngFor="let car of cars" class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-4">
      <div class="flex flex-col items-center h-full">
        <img [src]="car.version.picture" [alt]="'Voiture ' + car.version.id" class="w-full h-48 object-cover rounded-t-lg">
        <div class="mt-4 text-center">
          <p class="text-xl font-semibold text-center text-gray-900 dark:text-white">{{car.version.name}}</p>
          <p class="text-yellow-300 text-center">{{car.version.price}} €</p>
        </div>
        <button class="w-full bg-gray-800 hover:bg-gray-900 text-white font-semibold py-2 px-4 rounded-lg mt-4 dark:bg-gray-700 dark:hover:bg-gray-800" (click)="selectCar(car)">Sélectionner</button>
      </div>
    </div>
  </div>
</div>
