<div class="text-2xl rounded-lg flex flex-wrap justify-center m-4 dark:bg-gray-900 text-white">
  <div class="w-full sm:w-3/4 md:w-3/5 lg:w-2/3 mb-4">
    <label class="text-3xl text-center font-thin mb-4">Choisissez vos sièges</label>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <ng-container *ngFor="let seat of seats">
        <div *ngIf="car && (car.version.name === seat.option || seat.option === undefined)" class="w-full sm:w-auto flex flex-col items-center">
          <div class="bg-gray-800 rounded-lg shadow-md p-4 mb-4 mt-2">
            <input type="radio" [id]="seat.id" name="seat" class="hidden">
            <label [for]="seat.id" class="block mb-2 border rounded cursor-pointer shadow-md hover:shadow-lg border-gray-900">
              <img [src]="seat.picture" [alt]="'Siège ' + seat.name" class="w-full max-h-96 object-contain transition-all duration-300 transform hover:scale-105">
            </label>
            <p class="text-white text-center font-semibold pt-2">{{seat.name}}</p>
            <p class="text-yellow-300 text-center font-thin">{{seat.price}} €</p>
            <button class="w-full bg-gray-800 hover:bg-gray-900 text-white font-semibold py-2 px-4 rounded-lg dark:bg-gray-700 dark:hover:bg-gray-800" (click)="selectSeat(seat.name)">Sélectionner</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
