
<nav class="bg-gray-900 rounded-lg flex flex-wrap m-4 justify-center text-white h-[500px]">
  <div class="container mx-auto px-4 py-2">

    <label class="text-3xl text-center font-thin mb-4">{{ selectedCategory ? selectedCategory : 'Choisissez vos équipements' }}</label>
    <mat-tab-group [selectedIndex]="0" (selectedTabChange)="selectCategory($event.tab.textLabel)">
      <ng-container *ngFor="let accessoireCategory of Accessoire | keyvalue">
        <mat-tab label="{{ accessoireCategory.key }}">
          <ng-template mat-tab-label>
            <div class="tab-label" [ngClass]="{'active-tab-label': selectedCategory === accessoireCategory.key}">
              {{ accessoireCategory.key }}
            </div>
          </ng-template>

<ng-container *ngIf="Accessoire[accessoireCategory.key].length > 3; else individualAccessoires">
    <div class="w-full">
      <owl-carousel-o *ngIf="activeTab === accessoireCategory.key" [options]="customOptions">
        <ng-container *ngFor="let accessoire of Accessoire[accessoireCategory.key]">
          <ng-template carouselSlide [id]="accessoire.name">
            <div class="owl-carousel-item col-md-4 col-lg-3">
              <div class="flex flex-col items-center p-4 rounded" [ngClass]="{'border-blue-600 border-4': selectedAccessoire[accessoire.name]}">
                <img [src]="accessoire.picture" [alt]="accessoire.name" [title]="accessoire.name"
                  class="max-h-[200px] object-scale-down p-2">
                <button class="bg-gray-800 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2"
                        (click)="toggleAccessoireSelection(accessoire)">Sélectionner</button>
                <div class="flex flex-col items-center mt-2">
                  <p class="text-white font-semibold">{{ accessoire.name }}</p>
                  <p class="text-yellow-300">{{ accessoire.price }} €</p>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
</ng-container>

          <ng-template #individualAccessoires>
            <div *ngIf="selectedCategory === accessoireCategory.key" class="flex flex-wrap">
              <div *ngFor="let accessoire of Accessoire[accessoireCategory.key]" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mb-4 p-2">
                <div class="w-full text-white">
                  <div class="flex flex-col items-center p-4 rounded" [ngClass]="{'border-blue-600 border-4': selectedAccessoire[accessoire.name]}">
                    <img [src]="accessoire.picture" [alt]="accessoire.name" [title]="accessoire.name">
                    <button class="bg-gray-800 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2"
                            (click)="toggleAccessoireSelection(accessoire)">Sélectionner</button>
                    <div class="flex flex-col items-center mt-2">
                      <p class="text-white font-semibold truncate text-base">{{ accessoire.name }}</p>
                      <p class="text-yellow-300">{{ accessoire.price }} €</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>

</nav>
