<label class="text-3xl text-center font-thin mb-4 text-white">Choisissez vos Accessoires</label>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let accessoireGroup of Accessoire | keyvalue">
      <ng-template carouselSlide [id]="accessoireGroup.key">
        <img [src]="accessoireGroup.value[0].picture" [alt]="accessoireGroup.value[0].name" [title]="accessoireGroup.value[0].name">
        <button class="bg-gray-800 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2" (click)="selectAccessoire(accessoireGroup.value[0])">Sélectionner</button>
        <p>{{ accessoireGroup.value[0].name }}</p>
      </ng-template>
    </ng-container>

  </owl-carousel-o>
