<owl-carousel-o [options]="customOptions" class="dark">
  <ng-template carouselSlide>
    <div class="relative p-6 slide-item bg-gray-800 text-white text-2xl font-light rounded-md transition-all duration-300 hover:bg-gray-700">
      <a [owlRouterLink]="['']" class="text-white w-full h-full absolute inset-0 flex justify-center items-center">Car</a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="relative p-6 slide-item bg-gray-800 text-white text-2xl font-light rounded-md transition-all duration-300 hover:bg-gray-700">
      <a [owlRouterLink]="['step2']" class="text-white w-full h-full absolute inset-0 flex justify-center items-center">Color</a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="relative p-6 slide-item bg-gray-800 text-white text-2xl font-light rounded-md transition-all duration-300 hover:bg-gray-700">
      <a [owlRouterLink]="['step3']" class="text-white w-full h-full absolute inset-0 flex justify-center items-center">Wheel</a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="relative p-6 slide-item bg-gray-800 text-white text-2xl font-light rounded-md transition-all duration-300 hover:bg-gray-700">
      <a [owlRouterLink]="['step4']" class="text-white w-full h-full absolute inset-0 flex justify-center items-center">Seat</a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="relative p-6 slide-item bg-gray-800 text-white text-2xl font-light rounded-md transition-all duration-300 hover:bg-gray-700">
      <a [owlRouterLink]="['step5']" class="text-white w-full h-full absolute inset-0 flex justify-center items-center">Equipement</a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="relative p-6 slide-item bg-gray-800 text-white text-2xl font-light rounded-md transition-all duration-300 hover:bg-gray-700">
      <a [owlRouterLink]="['step6']" class="text-white w-full h-full absolute inset-0 flex justify-center items-center">Accessories</a>
    </div>
  </ng-template>
</owl-carousel-o>
