<div class="container mx-auto px-4 py-8 dark:bg-gray-900">
  <h1 class="text-3xl text-center font-semibold text-white mb-4">Choisissez vos jantes</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    <ng-container *ngFor="let wheel of wheels">
      <div *ngIf="car && (car.version.name === wheel.option || wheel.option === undefined)" class="bg-white dark:bg-gray-800 rounded-lg shadow-md">
        <input type="radio" [id]="wheel.name" name="wheel" class="hidden">
        <label [for]="wheel.name" class="block overflow-hidden cursor-pointer rounded-t-lg">
          <img [src]="wheel.picture" [alt]="'Jante ' + wheel.name" class="pt-4 w-full h-56 object-contain transition-all duration-300 transform hover:scale-105">
        </label>
        <div class="p-4">
          <p class="text-xl font-semibold text-center text-gray-900 dark:text-white">{{wheel.name}}</p>
          <p class="text-yellow-300 text-center">{{wheel.price}} €</p>
          <button class="w-full bg-gray-900 hover:bg-gray-800 text-white font-semibold py-2 px-4 rounded mt-2 transition-all duration-300" (click)="selectWheels(wheel)">Sélectionner</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
