<div class="flex flex-wrap justify-center p-8 bg-gray-100">
  <div class="w-full sm:w-3/4 md:w-1/2 lg:w-2/5 mb-4">
    <label class="text-3xl text-center font-thin mb-4">Choisissez vos jantes</label>
    <div class="flex justify-center">
      <div *ngFor="let wheel of wheels" class="w-1/2 pr-2 flex flex-col items-center">
        <input type="radio" [id]="wheel.id" name="wheel" class="hidden">
        <label [for]="wheel.id" class="block mb-2 border rounded cursor-pointer shadow-md hover:shadow-lg">
          <img [src]="wheel.picture" [alt]="'Jante ' + wheel.name" class="w-full max-h-96 object-contain">
        </label>
        <button class="bg-gray-800 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2" (click)="selectWheels(wheel.name)">Sélectionner</button>
        <p>{{wheel.name}}</p>
      </div>
    </div>
  </div>
</div>
