<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tp Alpine</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header>
    <img src="../assets/images/sources-homepage/logo/logo-white.png" alt="logo" class="centered-image">
  </header>
  <section>
    <div id="video-container">
      <video id="video" autoplay loop>
        <source src="../assets/video/Alpine-Milan-HomePage-1680x951-950-non-possible-v3-12072021.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text-overlay">
        <h1>Alpine A110 Pure / Légende</h1>
        <p>Découvrez nos modèles !</p>
      </div>
    </div>


  </section>
</body>

</html>